.Rproj.user
.Rhistory
.RData
.Ruserdata
javenda_site.Rproj
.gitignore
assets/
config
config.toml
config.yaml
content/
data/
data-raw/
laoyuts/
netlify.toml
README.me
resources/
suma.rds
themes/
valor.rds
